<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QuickDial Widget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>QuickDial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>QuickDialKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>19DE4B531AA34D4F00B81690</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19DE4B681AA34D4F00B81690</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19DE4B7C1AA34D6A00B81690</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19DE4B931AA3598D00B81690</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19DE4B9D1AA3598D00B81690</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
